.eye {
  position: absolute;
  display: inline-block;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  background: rgb(231, 240, 255);
}

.eye:after { /*pupil*/
  position: absolute;
  bottom: 27px;
  left: 30px;
  width: 10px;
  height: 10px;
  background: rgb(0, 0, 0);
  border-radius: 50%;
  content: " ";
}

body {
  background-image: url("face.jpg");
  background-repeat: no-repeat;
}

#left_eye {
  left: 148px;
  top: 306px;
}

#right_eye {
  left: 241px;
  top: 295px;
}

.permission-btn {
  font-size: 4em;
  position: absolute;
  top: 930px;
  left: 367px;
  width: 50%;
}

.permission-btn.hidden text {
  fill: transparent;
}

text {
  fill: rgb(0, 255, 0);
}

.ball {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 0;
  border-radius: 50%;
  position: relative;
  background: radial-gradient(circle at 50% 40%, #fcfcfc, #efeff1 66%, #9b5050 100%);
}

.iris {
  width: 40%;
  height: 40%;
  margin: 30%;
  border-radius: 100%;
  background: radial-gradient(circle at 50% 50%, #208ab4 0%, #6fbfff 30%, #4381b2 100%);
  position: absolute;
}
.iris:before {
  content: "";
  display: block;
  position: absolute;
  width: 37.5%;
  height: 37.5%;
  border-radius: 100%;
  top: 31.25%;
  left: 31.25%;
  background: black;
}
.iris:after {
  content: "";
  display: block;
  position: absolute;
  width: 31.25%;
  height: 31.25%;
  border-radius: 100%;
  top: 18.75%;
  left: 18.75%;
  background: rgba(255, 255, 255, 0.2);
}

.ball .shadow {
position: absolute;
width: 100%;
height: 100%;
background: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%);
-webkit-transform: rotateX(90deg) translateZ(-150px);
-moz-transform: rotateX(90deg) translateZ(-150px);
-ms-transform: rotateX(90deg) translateZ(-150px);
-o-transform: rotateX(90deg) translateZ(-150px);
transform: rotateX(90deg) translateZ(-150px);
z-index: -1;
}
.stage {
  width: 300px;
  height: 300px;
  display: inline-block;
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  -ms-perspective: 1200px;
  -o-perspective: 1200px;
  perspective: 1200px;
  -webkit-perspective-origin: 50% 50%;
  -moz-perspective-origin: 50% 50%;
  -ms-perspective-origin: 50% 50%;
  -o-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
}

path {
  fill: transparent;
}

@media only screen
and (max-device-width : 400px)
and (orientation : portrait) {
  body {
    background-size: contain;
  }

  #left_eye {
    left: 290px;
    top: 570px;
  }

  #right_eye {
    left: 640px;
    top: 390px;
  }

  .ball {
    width: 150px;
    height: 150px;
  }
}
