.eye {
  position: absolute;
  display: inline-block;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  background: rgb(231, 240, 255);
}

.eye:after { /*pupil*/
  position: absolute;
  bottom: 27px;
  left: 30px;
  width: 10px;
  height: 10px;
  background: rgb(0, 0, 0);
  border-radius: 50%;
  content: " ";
}

body {
  background-image: url("face.jpg");
  background-repeat: no-repeat;
}

#left_eye {
  left: 190px;
  top: 345px;
}

#right_eye {
  left: 390px;
  top: 335px;
}

@media only screen
and (max-device-width : 400px)
and (orientation : portrait) {
  body {
    background-size: contain;
  }

  .eye {
    height: 100px;
    width: 100px;
  }

  .eye:after {
    top: 10px;
    left: 30px;
    width: 40px;
    height: 40px;
  }

  #left_eye {
    left: 310px;
    top: 590px;
  }

  #right_eye {
    left: 660px;
    top: 570px;
  }
}
